@font-face {
  font-family: "HelpMe";
  src: url("/src/fonts/helpme/HelpMe.woff2") format("woff2"),
    url("/src/fonts/helpme/HelpMe.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "HelpMe", sans-serif;
}
