@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: "HelpMe";
  src: url("/fonts/helpme/HelpMe.woff2") format("woff2"),
    url("/fonts/helpme/HelpMe.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WhoAsks";
  src: url("/fonts/whoasks/whoAsks.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-optical-sizing: auto;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1c1c1c;
}

#words-container {
  font-family: "HelpMe", sans-serif;
}
